/* navbar-styles.css */

/* 设置导航栏背景颜色和文字颜色 */
.navbar {
    /* background-color: #1d2fd3; */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 添加阴影效果，可以根据需要调整阴影的大小和颜色 */

  }
  
  .navbar-dark .navbar-brand {
    color: #fff;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: #fff;
  }
  
  /* 添加Logo的样式 */
  .logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
  }


